acp_version: 0.6.11
version_flag: alpha
canvas:
  agent_name: $你当前交互的AI名称
  user_name: $你的用户名
file_blacklist:
  - 0.0_Core_Protocol/0.9_advanced_concepts.md
  - 7.0_Examples/
  - 8.0_Appendices/8.1_appendix_symbols.md
  - 9.0_Meta/9.9_version_changelog.md
